@use 'abstracts';

/* STYLING FÖR KNAPPAR */

// Inkluderar stil för standard knappar genom extend
#submit {
    @extend %button-style;
    width: 50%;
    height: 4rem;
    margin: 2rem 0 0 50%;
    font-size: 1.6rem;
    background-color: abstracts.$link-color;

    &:hover {
        background-color: abstracts.$hover-color;
    }
}

.complete-btn {
    @extend %button-style;
    width: 14rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    letter-spacing: 0.1rem;
    background-color: abstracts.$complete-btn-color;

    &:hover {
        background-color: darken(abstracts.$complete-btn-color, 10%);
    }
}

// Styling för diabled knapp
.complete-btn:disabled,
.edit-btn:disabled {
    background-color: abstracts.$disabled-btn-color;
    color: abstracts.$disabled-text-color;
    cursor: not-allowed; // Sätter cursor till inte tillåten
}

// Klass för bagrundsfärg till klarmarkerade rader i tabellen
.completed-task {
    background-color: abstracts.$complete-background-color;
}

.btn-Cells {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete-btn {
    @extend %button-style;
    width: 14rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
    letter-spacing: 0.1rem;
    background-color: abstracts.$delete-btn-color;

    &:hover {
        background-color: darken(abstracts.$delete-btn-color, 10%);
    }
}

#edit-tip {
    font-size: 1.4rem;
}

.edit-btn {
    @extend %button-style;
    font-size: 1.4rem;
    width: 12rem;
    height: 2.6rem;
    padding: 0;
    background-color: abstracts.$edit-btn-color;

    &:hover {
        background-color: darken(abstracts.$edit-btn-color, 10%);
    }
}

// Styling för popup vid klick på skapa inköpslista
.popup {
    width: 100%;
    height: 0;
    background-color: abstracts.$link-color;
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 1.8rem;
    line-height: 2.6rem;
    font-family: abstracts.$font-text;
    letter-spacing: 0.2rem;
    font-weight: 600;
    transition: height 1s; // Lägger transition på höjden, höjden ändras under 1 sekund
}

// Styling för när popup visas
.popup.show {
    height: 5rem;
    padding-top: 1rem;
}

// ID-styling för felmeddelande
#error-message {
    display: none;
    justify-content: center;
    color: abstracts.$delete-btn-color;
    font-size: 1.8rem;
    font-weight: 600;
}

// Styling för obligatorisk *
.required {
    color: abstracts.$delete-btn-color;
}

// Ökar bredd vid mindre skrämar (max 600px)
@media (max-width: 600px) {
    #submit {
        width: 100%;
        margin: 2rem 0 0 0;
    }
}